In [280]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [281]:
df = pd.read_csv('tested.csv')
drop_columns = ['PassengerId', 'Name', 'Ticket', 'Cabin']
df = df.drop(columns=drop_columns)
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  34.5      0      0    7.8292        Q
1           1       3  female  47.0      1      0    7.0000        S
2           0       2    male  62.0      0      0    9.6875        Q
3           0       3    male  27.0      0      0    8.6625        S
4           1       3  female  22.0      1      1   12.2875        S
..        ...     ...     ...   ...    ...    ...       ...      ...
413         0       3    male   NaN      0      0    8.0500        S
414         1       1  female  39.0      0      0  108.9000        C
415         0       3    male  38.5      0      0    7.2500        S
416         0       3    male   NaN      0      0    8.0500        S
417         0       3    male   NaN      1      1   22.3583        C

[418 rows x 8 columns]

In [282]:
df['Age'] = df['Age'].fillna(df['Age'].mean()).round(1).apply(np.ceil).astype(int)
df['Fare'] = df['Fare'].fillna(df['Fare'].mean()).apply(np.ceil).astype(int)

In [283]:
age_bins = pd.IntervalIndex.from_tuples([(0, 16), (17, 40), (41, 76)])
df['Age'] = pd.cut(df['Age'], bins=age_bins)

In [284]:
df['Age'] = LabelEncoder().fit_transform(df['Age'])
df['Sex'] = LabelEncoder().fit_transform(df['Sex'])
df['Embarked'] = LabelEncoder().fit_transform(df['Embarked'])

In [285]:
df["Fare"] = df["Fare"]  / df["Fare"].abs().max()

In [286]:
x = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [287]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [288]:
model = LogisticRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0